@tailwind base;
@tailwind components;
@tailwind utilities;

/* Para navegadores basados en WebKit (como Chrome, Safari) */
.webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
  }
  
  /* Para Firefox */
  * {
    scrollbar-width: none; /* Oculta la barra de desplazamiento */
  }
  
  /* Mantener el desplazamiento funcional */
  .scroll-container {
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    overflow: auto; /* Mantener funcionalidad de scroll */
  }


@font-face {
    font-family: "Manrope-Bold";
    src: url(../fonts/Manrope/Manrope-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Manrope-ExtraBold";
    src: url(../fonts/Manrope/Manrope-ExtraBold.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Manrope-ExtraLight";
    src: url(../fonts/Manrope/Manrope-ExtraLight.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Manrope-Light";
    src: url(../fonts/Manrope/Manrope-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Manrope-Regular";
    src: url(../fonts/Manrope/Manrope-Regular.ttf);
    font-style: normal;
}

@layer components{
    .sideBar{
        @apply fixed h-full w-[270px] max-[760px]:w-full top-0 left-0 min-[1300px]:top-[102px] min-[1300px]:left-3 bg-[#4789c8] rounded-r-lg max-[760px]:rounded-none min-[1300px]:rounded-lg px-3 duration-700 z-10;
    }
}