@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


@layer base {
  html, body { @apply font-sans; }  /* <- fuerza Verdana global */
}

@layer base {
  :where(*):not(i, .pi) { font-family: Verdana, Geneva, Tahoma, sans-serif !important; }
}



/* Para navegadores basados en WebKit (como Chrome, Safari) */
.webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
  }
  
  /* Para Firefox */
  * {
    scrollbar-width: none; /* Oculta la barra de desplazamiento */
  }
  
  /* Mantener el desplazamiento funcional */
  .scroll-container {
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    overflow: auto; /* Mantener funcionalidad de scroll */
  }

/* Font Manrope */
/* @font-face {
    font-family: "Manrope-Bold";
    src: url(../fonts/Manrope/Manrope-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Manrope-ExtraBold";
    src: url(../fonts/Manrope/Manrope-ExtraBold.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Manrope-ExtraLight";
    src: url(../fonts/Manrope/Manrope-ExtraLight.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Manrope-Light";
    src: url(../fonts/Manrope/Manrope-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Manrope-Regular";
    src: url(../fonts/Manrope/Manrope-Regular.ttf);
    font-style: normal;
} */

/* Font Verdana */
/* @font-face {
    font-family: "Verdana-Regular";
    src: url(../fonts/Verdana/Verdana.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Verdana-Bold";
    src: url(../fonts/Verdana/Verdana-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Verdana-Italic";
    src: url(../fonts/Verdana/Verdana-Italic.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Verdana-Bold-Italic";
    src: url(../fonts/Verdana/Verdana-BoldItalic.ttf);
    font-style: normal;
} */

/* FONT FUTURA */
/* @font-face {
    font-family: "Futura-Medium";
    src: url(../fonts/Futura/FuturaStd-Medium.otf);
    font-style: normal;
}

@font-face {
    font-family: "Futura-Light";
    src: url(../fonts/Futura/FuturaStd-Light.otf);
    font-style: normal;
}

@font-face {
    font-family: "Futura-Light-Oblique";
    src: url(../fonts/Futura/FuturaStd-LightOblique.otf);
    font-style: normal;
}

@font-face {
    font-family: "Futura-Bold";
    src: url(../fonts/Futura/FuturaStd-Bold.otf);
    font-style: normal;
}

@font-face {
    font-family: "Futura-Bold-Oblique";
    src: url(../fonts/Futura/FuturaStd-BoldOblique.otf);
    font-style: normal;
} */

@layer components{
    .sideBar{
        @apply fixed h-full w-[270px] max-[760px]:w-full top-0 left-0 min-[1300px]:top-[102px] min-[1300px]:left-3 bg-[#4789c8] rounded-r-lg max-[760px]:rounded-none min-[1300px]:rounded-lg px-3 duration-700 z-10;
    }
}

